CONFIG_C2000_UID_LSW_ADDR=0x000900
CONFIG_C2000_UID_MSW_ADDR=0x000901
CONFIG_BOOTLOADER_RUN_VAL=0x364C71F3
CONFIG_BOOTLOADER_JUMP_VAL=0xD489B4BB
CONFIG_APPLICATION_RUN_VAL=0x248B2ADC
CONFIG_BOOT_FLAG_ADDRESS=0x00FFFC
# CONFIG_CRYSTAL_20MHZ is not set
CONFIG_CRYSTAL_30MHZ=y
CONFIG_CORE_FREQ_150MHZ=y

#
# CAN Configuration
#
# CONFIG_USE_CAN_A is not set
CONFIG_USE_CAN_B=y
CONFIG_CAN_TX_GPIO16=y
CONFIG_CAN_RX_GPIO17=y
# end of CAN Configuration

CONFIG_NODE_ID=0x07
CONFIG_BITRATE_1000KBPS=y
# CONFIG_BITRATE_800KBPS is not set
# CONFIG_BITRATE_500KBPS is not set
# CONFIG_BITRATE_250KBPS is not set
# CONFIG_BITRATE_125KBPS is not set
# CONFIG_BITRATE_50KBPS is not set
# CONFIG_BITRATE_20KBPS is not set
# CONFIG_BITRATE_10KBPS is not set
CONFIG_BITRATE=1000
# CONFIG_HAS_EEPROM is not set
CONFIG_CANOPEN_LED=y
CONFIG_CANOPEN_LED_RED_GPIO=31
# CONFIG_CANOPEN_LED_RED_ACTIVE_HIGH is not set
CONFIG_CANOPEN_LED_GREEN_GPIO=34
# CONFIG_CANOPEN_LED_GREEN_ACTIVE_HIGH is not set
