CONFIG_C2000_UID_LSW_ADDR=0x000900
CONFIG_C2000_UID_MSW_ADDR=0x000901
CONFIG_BOOTLOADER_RUN_VAL=0x364C71F3
CONFIG_BOOTLOADER_JUMP_VAL=0xD489B4BB
CONFIG_APPLICATION_RUN_VAL=0x248B2ADC
CONFIG_BOOT_FLAG_ADDRESS=0x00FFFC
CONFIG_CRYSTAL_20MHZ=y
# CONFIG_CRYSTAL_30MHZ is not set
# CONFIG_CORE_FREQ_150MHZ is not set
CONFIG_CORE_FREQ_100MHZ=y

#
# CAN Configuration
#
CONFIG_USE_CAN_A=y
# CONFIG_USE_CAN_B is not set
CONFIG_CAN_TX_GPIO19=y
# CONFIG_CAN_TX_GPIO31 is not set
CONFIG_CAN_RX_GPIO18=y
# CONFIG_CAN_RX_GPIO30 is not set
# end of CAN Configuration

CONFIG_NODE_ID=0xFF
CONFIG_BITRATE_1000KBPS=y
# CONFIG_BITRATE_800KBPS is not set
# CONFIG_BITRATE_500KBPS is not set
# CONFIG_BITRATE_250KBPS is not set
# CONFIG_BITRATE_125KBPS is not set
# CONFIG_BITRATE_50KBPS is not set
# CONFIG_BITRATE_20KBPS is not set
# CONFIG_BITRATE_10KBPS is not set
CONFIG_BITRATE=1000
CONFIG_HAS_EEPROM=y
CONFIG_EEPROM_SIZE_32KB=y
CONFIG_EEPROM_SIZE=32768
CONFIG_EEPROM_PAGE_SIZE_64=y
CONFIG_EEPROM_PAGE_SIZE=64
CONFIG_EEPROM_DEV_ADDR=0x50
CONFIG_I2C_FIFO_BUFFER_SIZE=16
CONFIG_LSS_ENTRY_SIGNATURE_ADDR=0x0000
CONFIG_LSS_DATA_BLOCK_ADDR=0x0040
