CONFIG_BOOTLOADER_RUN_VAL=0x364C71F3
CONFIG_BOOTLOADER_JUMP_VAL=0xD489B4BB
CONFIG_APPLICATION_RUN_VAL=0x248B2ADC
CONFIG_BOOT_FLAG_ADDRESS=0x00FFFC
# CONFIG_CRYSTAL_20MHZ is not set
CONFIG_CRYSTAL_30MHZ=y
CONFIG_CORE_FREQ_150MHZ=y

#
# CAN Configuration
#
CONFIG_USE_CAN_A=y
# CONFIG_USE_CAN_B is not set
# CONFIG_CAN_TX_GPIO19 is not set
CONFIG_CAN_TX_GPIO31=y
# CONFIG_CAN_RX_GPIO18 is not set
CONFIG_CAN_RX_GPIO30=y
# end of CAN Configuration

CONFIG_NODE_ID=1
